div {
 /*border: 1px solid black;*/
}
body {
  background-color: #FFFFFF;
  font-size: 10px;
  margin: 0;
  padding: 0;
}
#container {
  margin: 0px auto;
  max-width: 940px;
}
#containerRow {
  margin: 0px auto;
  width: 450px;
}
#content {
  text-align: center;
}
#items-row {
  /*width: 384px;*/
  margin: 0px auto;
}
.item-panel {
  margin-top: 25px;
  margin-bottom: 15px;
}
.item-panel ul {
  list-style-type: none;
  margin-top: 2px;
  padding: 0;
  display: inline-block;
}
.item-panel li a {
  float: left;
  width: 33px;
  font-size: 10px;
  color: black;
  padding: 5px 0px;
  margin: 0px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FFFFFF;
  cursor: pointer;
}
.item-panel li a.common {
  background-color: rgba(94, 111, 121, 0.1);
  border: 1px solid #FFFFFF;
}
.item-panel li a.common.selected {
  background-color: rgba(94, 111, 121, 0.5);
  border: 1px solid rgba(94, 111, 121, 1.0);
}
.item-panel li a.rare {
  background-color: rgba(0, 0, 250, 0.1);
  border: 1px solid #FFFFFF;
}
.item-panel li a.rare.selected {
  background-color: rgba(0, 0, 250, 0.5);
  border: 1px solid rgba(0, 0, 250, 1.0);
}
.item-panel li a.epic {
  background-color: rgba(128, 0, 128, 0.1);
  border: 1px solid #FFFFFF;
}
.item-panel li a.epic.selected {
  background-color: rgba(128, 0, 128, 0.5);
  border: 1px solid rgba(128, 0, 128, 1.0);
}
.item-panel li a.legendary {
  background-color: rgba(255, 165, 0, 0.1);
  border: 1px solid #FFFFFF;
}
.item-panel li a.legendary.selected {
  background-color: rgba(255, 165, 0, 0.5);
  border: 1px solid rgba(255, 165, 0, 1.0);
}
.item-panel li a.duplicate {
  padding-top: 5px;
  width: 66px;
  height: 20px;
  line-height: 10px;
  background-color: #FFFFFF;
  border-top: 2px solid #FFFFFF;
}
.item-panel li a.duplicate.selected {
  background-color: rgba(227, 211, 200, 1.0);
  border-top: 2px solid #FFFFFF;
}
.result-panel {
  font-size: 16px;
}
.collection-header {
  font-size: 14px;
}
.collection-panel {
  margin-bottom: 5px;
  padding-left: 60px;
  font-size: 12px;
  text-align: left;
}
#chest-type-panel {
  font-size: 12px;
  text-align: left;
  padding-left: 65px;
  margin-bottom: 10px;
}
#buttonKeepItems {
  margin-left: 50px;
  margin-top: 20px;
}
input {
  width: 25px;
}
hr {
  height: 6px;
  background: url(../images/hr.png) repeat-x 0 0;
  border: 0;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}